@font-face {
    font-family: Asap;
    src: url("fonts/Asap-Regular.otf") format("opentype");
}
@font-face {
    font-family: Asap-Bold;
    src: url("fonts/Asap-Bold.otf") format("opentype");
}
body {
    margin: 0px;
    font-family: Asap;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
#container h1 {
    text-align: left;
    padding: 15px 10px 10px 0px;
    margin-left: 1vw;
    border-bottom: 5px solid rgb(88, 88, 88);
    color: rgb(88, 88, 88);
    backgound-color: rgb(233, 233, 233);
}
#head {
    position: fixed;
    z-index: 500;
    left: 0px;
    top: 0px;
    right: 0;
    height: 70px;
    border-bottom: 1px solid;
    display: inline-block;
    text-align: left;
    font-family: Asap-Bold;
    font-size: 20px;
    color: rgb(133,133,133);
    background-color: white;
}
#menu {
    display: inline-block;
}
#menu > *, #logo{
    padding: 23px 0px 25px 0px;
    display: inline-block;
    transition-duration: 0.5s;
    margin: -3px;
    color: rgb(133,133,133);
}
#menu > span > a {
    text-decoration: none;
    color: rgb(133,133,133);
    padding: 23px 30px 25px 30px;
}
#menu > span > a:hover {
    color: rgb(95,207,128);
}
#logo {
    width: 35%;
    text-align: right;
    background-color: rgb(95,207,128);
    color: white;
    padding-right: 20px;
    text-decoration: none;
}
#container {
    margin-top: 70px;
    position: relative;
    width: 100%;
    text-align: center;
    min-height: calc(100vh - 270px);
}
#foot {
    margin-top: 40px;
    height: 160px;
    background-color: rgb(95,207,128);
    text-align: center;
    padding-top: 60px;
    font-size: 30px;
    font-family: cooking;
    box-sizing: border-box;
    color: white;
}
#social-media > * {
    cursor: pointer;
    display: inline-block;
    margin: 0 1.5vw 0 1.5vw;
}
#rights {

}
#small-menu {
    display: none;
}

/* ---------- Screen size adjustments --------- */
/* --- Remember to invert max to min ---*/
@media only screen and (max-width: 610px) {
    #menu > span { display: none; }
    #small-menu{
        display: inline-block;
        font-family: cooking;
        font-size: 60px;
        pading: 5px;
        box-sizing: border-box;
        position: absolute;
        vertical-align:top;
        top: -15px;
        right: 10px;
    }
    #logo {
        text-align: left;
        padding-left: 20px;
        width: calc(100% - 115px);
    }
    #container h1 {
        margin-left: 4vw;
    }
}